@import url(../mods-inspect/mods-inspect.css);
@import url(../tree-inspect/tree-inspect.css);

.block {
    margin-bottom: 15px;
}

.block__head {
    font-weight: normal;
    background: #f3f3f3;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    padding: 2px 10px;
}

.block_is-elem_yes .block__head {

}

.block:first-child .block__head {
    border-top: none;
}

.block__name {
    line-height: 17px;
}

.block__name-block {

}

.block__name-elem {
    color: #007400;
}

.block__attrs {
    font-style: italic;
    margin-left: 20px;
}

.block__attr {
    margin-right: 5px;
    display: inline-block;
    border: 1px solid #aaa;
    padding: 0px 4px;
    border-radius: 2px;
    background: #fff;
}

.block__attr_active_yes {

}

.block__attr_active_no {
    opacity: 0.5;
}

.block__title {
    font-style: italic;
    padding: 0 10px;
    margin: 5px 0;
}

.block__params-inspect {
    padding: 0 8px;
}
