@import url(../block/block.css);

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Lucida Grande', sans-serif;
}

.blocks {

}

.blocks__list {
    margin: 0;
    padding: 0;
}

.blocks__info {
    text-align: center;
    font-style: italic;
    padding: 6px;
    color: #888;
    display: block;
}
